<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="<%= @dashboard ? 'active' : '' %> ">  
    <%= link_to dashboard_index_path() do %>
      Activity <i class="fa fa-bar-chart" aria-hidden="true"></i>
    <% end %>
  </li>

  
  <li role="presentation" class="<%= devise_controller? ? 'active' : '' %> ">  
    <%= link_to edit_user_registration_path(@user) do %>
      Edit Profile <i class="fa fa-user" aria-hidden="true"></i>
    <% end %>
  </li>
  <li role="presentation">
    <%= link_to destroy_user_session_path(), :method=>:delete do %>
      Sign Out <i class="fa fa-sign-out" aria-hidden="true"></i>
    <% end %>
  </li>
</ul>

