<!DOCTYPE html>
<html>
  <head>
    <title>Tracksmsurl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet"> -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <article>
      <div class="box-tabs">  
        <div class="container">
          <%= render :partial=> "/shared/header" if user_signed_in?%>
          <!-- Tab panes -->
          <div class="tab-content">
            <%= yield %>
          </div>
        </div>
      </div>
    </article>
  </body>
</html>
